## Files needed to deploy from local
## these contain secret credentials that should not be checked in

# secrets:
*.secrets.json

**/tmp_distribution

target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Gradle ####
.gradle
build

### Others ###
.DS_Store